.bg-one{
	background-color: #e5e5e5;
	margin-top: 50px;
}

.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}

.navbar{
	border: 0px;
	border-radius: 0px;
	margin:0px;
	height: 50px;
	background-color: #2f2f2f;
}

#insa-cvl-logo {
	margin: 20px;
	width: 300px;
	height: 100px;
	
}

.logo{
	width: 300px;
	height: 300px;
	display: inline;
	padding-top: 20px;
}

.navbar-nav li a:hover{
	color: #c7c7c7 !important;
}

.navbar-nav li a{
	color: #ffffff !important;
}

.navbar-brand:hover{
	color: #c7c7c7 !important;
}

.navbar-brand{
	color: #ffffff !important;
}

.timer{
}

.row{
	height: 500px;
}