.bg-one{
	background-color: #e5e5e5;
	margin-top: 50px;
}

.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}

.navbar{
	border: 0px;
	border-radius: 0px;
	margin:0px;
	height: 50px;
	background-color: #2f2f2f;
}

.team-name{
	font-family: Arial Narrow, Arial, Sans-serif;
	font-weight: bold;
}

.insa-cvl-logo {

	margin: 20px;
	width: 200px;
	height: 50px;
	
}

.logo{
	margin:20px;
	width: 300px;
	height: 300px;
	display: inline;
	padding-top: 20px;
}

.navbar-nav li a:hover{
	color: #c7c7c7 !important;
}

.navbar-nav li a{
	color: #ffffff !important;
}

.navbar-brand:hover{
	color: #c7c7c7 !important;
}

.navbar-brand{
	color: #ffffff !important;
}

#timer_area{
	line-height: 500px;
}

.row{
	height: 500px;
}

#timer{
	font-size: 2.5vw;
}


.team-user{
	margin-top: 15px;
	margin-bottom: 15px;
}

.ratio{
	width: 225px;
	height: 225px;
	overflow: hidden;
}

.captain{
	width: 225px;
	
	height: auto;
}

.grid-team{
	text-align: center;
	border-radius: 10px;
	margin-right:10px;
	margin-left: 10px;
	margin-top: 70px;
	background-color: #e5e5e5;
}

.head{
	font-family: Arial Narrow, Arial, Sans-serif;
	font-weight: bold;
}

footer {
	line-height: 80px;
}