.bg-one{
	background-color: #e5e5e5;
}

.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}

.navbar{
	border: 0px;
	border-radius: 0px;
	margin:0px;
	background-color: #2f2f2f;
    color: #ffffff;
}

.team-name{
	font-family: Arial Narrow, Arial, Sans-serif;
	font-weight: bold;
}

.insa-cvl-logo {

	margin: 20px;
	width: 300px;
	height: 100px;
	
}

.logo{
	margin:20px;
	width: 300px;
	height: 300px;
	display: inline;
}

.navbar{
	margin: 0px;
	border-radius: 0px;
}

.row{
	margin:10px;
	margin-left: 200px;	
}

.team-user{
	margin-bottom: 30px;
}

.forever-alone{
	width: 225;
	height: 225;
}