<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Avis de {{ template }}</title>
    </head>
   	<body>
        <div class="container-fluid bg-one text-center">
  			<h3>Team Avis de {{ template }}</h3>
  			<img src="img/avis_de_template.png" alt="logo_team">
  			<h3>NDI 2017</h3>
		</div>
    </body>
</html>