<!DOCTYPE html>
<html>
	<head>
      <meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="avis_de_template/css/index.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <title>Avis de {{ template }}</title>
    </head>
   	<body>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#" id="home">AVIS DE {{ template }}</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#timer_area">Notre site</a></li>
              <li><a href="#team_spec">L'équipe</a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-fluid bg-one text-center">
  			<div class="row">
          <img src="avis_de_template/img/avis_de_template.png" class="img-responsive img-circle logo" alt="logo_team">
          <h3>NDI 2017</h3>
        </div>
        <div class="row" id="timer_area">
          <span id="timer"></span>
        </div>
        <div class="row" id="team_spec">
          <div class="grid-team">
    <h1 class="head">L'équipe</h1>
      <div class="col-sm-4"><div class="team-user"><div class="ratio"><a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Etienne" data-caption="'Racaille des bacs à sable'" data-image="avis_de_template/img/captain.jpg" data-target="#image-gallery"><img class="captain" src="avis_de_template/img/captain.jpg"></a></div></div></div>


      <div class="col-sm-4"><div class="team-user"><div class="ratio"><a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Jean" data-caption="'Je suis Jean et j'attends'" data-image="avis_de_template/img/jeannot.jpg" data-target="#image-gallery"><img class="captain" src="avis_de_template/img/jeannot.jpg"></a></div></div></div>


      <div class="col-sm-4"><div class="team-user"><div class="ratio"><a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Kevin" data-caption="'Allo le monde ?'" data-image="avis_de_template/img/kevlard.jpg" data-target="#image-gallery"><img class="captain" src="avis_de_template/img/kevlard.jpg"></a></div></div></div>


      <div class="col-sm-4"><div class="team-user"><div class="ratio"><a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Bastien" data-caption="'Wesh Alors la pizza ?'" data-image="avis_de_template/img/bbinet.jpg" data-target="#image-gallery"><img class="captain" src="avis_de_template/img/bbinet.jpg"></a> </div></div></div>


      <div class="col-sm-4"><div class="team-user"><div class="ratio"><a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Guillaume" data-caption="''" data-image="avis_de_template/img/deniau.jpg" data-target="#image-gallery"><img class="captain" src="avis_de_template/img/deniau.jpg"></a></div></div></div>


      <div class="col-sm-4"><div class="team-user"><div class="ratio"><a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Etienne" data-caption="''" data-image="avis_de_template/img/captain.jpg" data-target="#image-gallery"><img class="captain" src="avis_de_template/img/captain.jpg"></a></div></div></div>


      <div class="col-sm-4"><div class="team-user"><div class="ratio"><a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Etienne" data-caption="''" data-image="avis_de_template/img/captain.jpg" data-target="#image-gallery"><img class="captain" src="avis_de_template/img/captain.jpg"></a></div></div></div>


      <div class="col-sm-4"><div class="team-user"><div class="ratio"><a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Etienne" data-caption="''" data-image="avis_de_template/img/captain.jpg" data-target="#image-gallery"><img class="captain" src="avis_de_template/img/captain.jpg"></a></div></div></div>


      <div class="col-sm-4"><div class="team-user"><div class="ratio"><a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Etienne" data-caption="''" data-image="avis_de_template/avis_de_template/img/captain.jpg" data-target="#image-gallery"><img class="captain" src="avis_de_template/img/captain.jpg"></a></div></div></div>


      <div class="col-sm-4"><div class="team-user"><div class="ratio"><a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Jocelyn" data-caption="''" data-image="avis_de_template/img/me.jpg" data-target="#image-gallery"><img class="captain" src="avis_de_template/img/me.jpg"></a></div></div></div>


      <div class="col-sm-4"><div class="team-user"><div class="ratio"><a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Etienne" data-caption="''" data-image="avis_de_template/img/captain.jpg" data-target="#image-gallery"><img class="captain" src="avis_de_template/img/captain.jpg"></a></div></div></div>


      <div class="col-sm-4"><div class="team-user"><div class="ratio"><a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Etienne" data-caption="''" data-image="avis_de_template/img/captain.jpg" data-target="#image-gallery"><img class="captain" src="avis_de_template/img/captain.jpg"></a></div></div></div>


      <div class="col-sm-4" style="margin-bottom: 140px;"><div class="team-user"><div class="ratio"><a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Etienne" data-caption="''" data-image="avis_de_template/img/captain.jpg" data-target="#image-gallery"><img class="captain" src="avis_de_template/img/captain.jpg"></a></div></div></div>


      <div class="col-sm-4" style="margin-bottom: 140px;"><div class="team-user"><div class="ratio"><a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Forever" data-caption="''" data-image="avis_de_template/img/forever.jpeg" data-target="#image-gallery"><img src="avis_de_template/img/forever.jpeg"></a></div></div></div>


      <div class="col-sm-4" style="margin-bottom: 140px;"><div class="team-user"><div class="ratio"><a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Alone" data-caption="''" data-image="avis_de_template/img/forever.jpeg" data-target="#image-gallery"><img src="avis_de_template/img/forever.jpeg"></a></div></div></div>
  </div>
        </div>
	<div>
		<div id="twitch-embed"></div>

    <!-- Load the Twitch embed script -->
    <script src="https://embed.twitch.tv/embed/v1.js"></script>

    <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
    <script type="text/javascript">
      new Twitch.Embed("twitch-embed", {
        width: 500,
        height: 500,
        channel: "Stimfarmer"
      });
    </script>
	</div
		  </div>









    <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="image-gallery-title"></h4>
                </div>
                <div class="modal-body">
                    <img id="image-gallery-image" class="img-responsive" src="">
                </div>
                <div class="modal-footer">

                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary" id="show-previous-image">Previous</button>
                    </div>

                    <div class="col-md-8 text-justify" id="image-gallery-caption">
                        This text will be overwritten by jQuery
                    </div>

                    <div class="col-md-2">
                        <button type="button" id="show-next-image" class="btn btn-default">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>














      <footer class="container-fluid bg-4 text-left navbar-fixed-bottom">
        <img src="avis_de_template/img/insa-cvl-logo.png" class="insa-cvl-logo">
        <img src="avis_de_template/img/n2i.svg">
        <span style="float: right;">Copyrights © 2017</span>
</footer>  
      <script type="text/javascript" src="avis_de_template/js/script.js"></script>
      <script>
$(document).ready(function(){
  $(".navbar a, footer a[href='#']").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();

      var hash = this.hash;

      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        window.location.hash = hash;
      });
    }
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>
    </body>
</html>
